<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find pid_controller)/config/pid.yaml" command="load"/>
   <param
    name="robot_description"
    textfile="$(find controller_arm)/urdf/controller_arm.urdf" />
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="controller_arm" args="/controller_arm/joint1_position_controller
                                             /controller_arm/joint2_position_controller 
                                            /controller_arm/joint_state_controller"/>
  
 
    
  <!-- <node name="controller_manager" pkg="controller_manager" type="spawner" output="screen"
    args="controller_arm" respawn="false" >
    <param name="use_controller_manager" value="true" />
    <param name="wait_for_services" value="true" />
  </node> -->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/controller_arm/joint_states" />
  </node>


</launch>
